:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: black;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


h2 {
  color: #3498db; 
  font-size: 24px; 
  margin-bottom: 20px; 
  text-align: center; 
  text-transform: uppercase; 
}



form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

/* Estilos para el botón en el formulario */
form button {
  background-color: #3498db; 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #2980b9; 
}



.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 50vh;
  background-color: #ff6b6b; 
  color: #ffffff; 
  max-width: 80%;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.error-container:hover {
  background-color: #ff4646; 
  color: #ffffff; 
  transform: scale(1.05); 
}



.registro {
  width: 400px;
  margin: auto;
  margin-top: 50vh; 
  transform: translateY(-50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
  text-align: center;
  z-index: 1000;
  background-color: white;
  
}

.paginado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 70%;
  border: 2px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  background-color: white; 
  padding: 20px; 
}


.filtroBox {
  width: 300px;
  max-width: 80%;
}

/* Estilos para el input de búsqueda */
.filtro {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  outline: none;
  margin-top: 1rem;
}